.profile-container{

    min-height:100vh;
    background:#f4f7fb;

    display:flex;
    justify-content:center;
    align-items:center;

    font-family:Arial,sans-serif;

}

.profile-card{

    width:650px;
    background:white;

    padding:40px;

    border-radius:15px;

    box-shadow:0 8px 25px rgba(0,0,0,.1);

}

.profile-avatar{

    width:100px;
    height:100px;

    background:#2563eb;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:45px;

    margin:auto;

    color:white;

}

.profile-card h1{

    text-align:center;

    margin:20px 0;

    color:#2563eb;

}

.profile-info{

    margin-top:30px;

}

.info-row{

    display:flex;

    justify-content:space-between;

    padding:15px 0;

    border-bottom:1px solid #ddd;

}

.info-row span{

    color:#666;

}

.info-row strong{

    color:#222;

}